/* customer.css */
body {
    background-color: #383838; /* Dark grey background for contrast */
    color: #ffcd31; /* Golden text for readability */
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #ff7e26; /* Orange color for headers */
    text-align: center;
    margin: 20px 0;
}

a {
    display: inline-block;
    background-color: #62856d; /* Greenish background for buttons and links */
    color: white;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #ff7e26; /* Orange background on hover */
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #ffcd31; /* Golden background for buttons */
    color: #383838; /* Dark text for contrast */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7e26; /* Orange background on hover */
}

.buy-button {
    background-color: #484c4d; /* Light grey background */
    color: #ffcd31; /* Golden text color */
    border: 1px solid #ff7e26; /* Orange border for emphasis */
}
